
<footer>
    <div class="f-info mt-2">

        <div class="f-social">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div>
            &copy;   DuniyaDekho privated limited

        </div>
        <div class="f-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>

        
    </div>
</footer>